@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --background: #F7F6F9;
    --foreground: #030313;       
    --muted: #ebf0f6;               
    --muted-foreground: #414161;    
    --popover: #ffffff;         
    --popover-foreground: #030313;  
    --card: #ffffff;             
    --card-foreground: #030313;   
    --border: #dde4ec;              
    --input: #dde4ec;              
    --primary: #3f8efc;            
    --primary-foreground: #E5E7EB; 
    --secondary-foreground: #ebf0f6;           
    --secondary: #2d2d41; 
    --accent-foreground: #d6d3e6;              
    --accent: #2b2b42;  
    --destructive: #ff5a5f;         
    --destructive-foreground: #f0f6fb;
    --ring: #60a5fa;               
    --radius: 0.5rem;               
    --deep-secondary: #c6c2db;    
  }

  body{
    background-color: var(--background);
  }

  
